<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
    <filter>
        <filter-name>AccountFilter</filter-name>
        <filter-class>org.csu.mypetstore.web.filter.AccountFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AccountFilter</filter-name>
        <url-pattern>/account/*</url-pattern> <!-- 可以根据需要修改 URL 模式 -->
    </filter-mapping>

    <filter>
        <filter-name>ShopFilter</filter-name>
        <filter-class>org.csu.mypetstore.web.filter.ShopFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>ShopFilter</filter-name>
        <url-pattern>/shop/*</url-pattern> <!-- 可以根据需要修改 URL 模式 -->
    </filter-mapping>

    <filter>
        <filter-name>AuthenticationFilter</filter-name>
        <filter-class>org.csu.mypetstore.web.filter.AuthenticationFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AuthenticationFilter</filter-name>
        <url-pattern>/rest/shop/addcart/*</url-pattern> <!-- 可以根据需要修改 URL 模式 -->
    </filter-mapping>
    <filter-mapping>
        <filter-name>AuthenticationFilter</filter-name>
        <url-pattern>/rest/shop/removecart/*</url-pattern> <!-- 可以根据需要修改 URL 模式 -->
    </filter-mapping>
    <filter-mapping>
        <filter-name>AuthenticationFilter</filter-name>
        <url-pattern>/rest/shop/updatecart/*</url-pattern> <!-- 可以根据需要修改 URL 模式 -->
    </filter-mapping>
    <filter-mapping>
        <filter-name>AuthenticationFilter</filter-name>
        <url-pattern>/shop/update/cartQuantities</url-pattern> <!-- 可以根据需要修改 URL 模式 -->
    </filter-mapping>
    <filter-mapping>
        <filter-name>AuthenticationFilter</filter-name>
        <url-pattern>/rest/shop/view/orderlist</url-pattern> <!-- 可以根据需要修改 URL 模式 -->
    </filter-mapping>
    <filter-mapping>
        <filter-name>AuthenticationFilter</filter-name>
        <url-pattern>/page/shop/newOrder</url-pattern> <!-- 可以根据需要修改 URL 模式 -->
    </filter-mapping>
    <filter-mapping>
        <filter-name>AuthenticationFilter</filter-name>
        <url-pattern>/page/shop/confirm/order</url-pattern> <!-- 可以根据需要修改 URL 模式 -->
    </filter-mapping>
    <filter-mapping>
        <filter-name>AuthenticationFilter</filter-name>
        <url-pattern>/shop/view/order</url-pattern> <!-- 可以根据需要修改 URL 模式 -->
    </filter-mapping>
    
    
    <servlet>
        <servlet-name>MainServlet</servlet-name>
        <servlet-class>org.csu.mypetstore.web.servlets.MainServlet</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>MainServlet</servlet-name>
        <url-pattern>/main</url-pattern>
    </servlet-mapping>
    
    <!--配置ViewCategoryServlet-->
    <servlet>
        <servlet-name>ViewCategoryServlet</servlet-name>
        <servlet-class>org.csu.mypetstore.web.servlets.showinfo.ViewCategoryServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ViewCategoryServlet</servlet-name>
        <url-pattern>/shop/view/category</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>CategoryInfoServlet</servlet-name>
        <servlet-class>org.csu.mypetstore.web.servlets.restful.CategoryInfoServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>CategoryInfoServlet</servlet-name>
        <url-pattern>/rest/shop/view/category</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>OrderInfoServlet</servlet-name>
        <servlet-class>org.csu.mypetstore.web.servlets.restful.OrderInfoServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ItemShownAtHomePage</servlet-name>
        <url-pattern>/rest/shop/view/simple-homepage-item-list</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ItemShownAtHomePage</servlet-name>
        <servlet-class>org.csu.mypetstore.web.servlets.restful.ItemShownAtHomePage</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>SimpleItemServlet</servlet-name>
        <url-pattern>/rest/shop/view/simple-item</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>SimpleItemServlet</servlet-name>
        <servlet-class>org.csu.mypetstore.web.servlets.restful.SimpleItemServlet</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>OrderInfoServlet</servlet-name>
        <url-pattern>/rest/shop/view/orderlist</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>SearchProductBasicInfoServlet</servlet-name>
        <servlet-class>org.csu.mypetstore.web.servlets.restful.SearchProductBasicInfoServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>SearchProductBasicInfoServlet</servlet-name>
        <url-pattern>/rest/shop/view/product_basic_list</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ProductInfoServlet</servlet-name>
        <servlet-class>org.csu.mypetstore.web.servlets.restful.ProductInfoServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ProductInfoServlet</servlet-name>
        <url-pattern>/rest/shop/view/product</url-pattern>
    </servlet-mapping>
    
    
    <!--配置ViewProductServlet-->
    <servlet>
        <servlet-name>ViewProductServlet</servlet-name>
        <servlet-class>org.csu.mypetstore.web.servlets.showinfo.ViewProductServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ViewProductServlet</servlet-name>
        <url-pattern>/shop/view/product</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ViewItemServlet</servlet-name>
        <servlet-class>org.csu.mypetstore.web.servlets.showinfo.ViewItemServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ViewItemServlet</servlet-name>
        <url-pattern>/shop/view/item</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>SearchProductServlet</servlet-name>
        <servlet-class>org.csu.mypetstore.web.servlets.showinfo.search.SearchProductServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SearchProductServlet</servlet-name>
        <url-pattern>/shop/search/product</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AddItemToCartServlet</servlet-name>
        <servlet-class>org.csu.mypetstore.web.servlets.cart.AddItemToCartServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddItemToCartServlet</servlet-name>
        <url-pattern>/rest/shop/addcart/item</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ViewCartServlet</servlet-name>
        <servlet-class>org.csu.mypetstore.web.servlets.showinfo.ViewCartServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ViewCartServlet</servlet-name>
        <url-pattern>/shop/view/cart</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>RemoveItemFromCartServlet</servlet-name>
        <servlet-class>org.csu.mypetstore.web.servlets.cart.RemoveItemFromCartServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RemoveItemFromCartServlet</servlet-name>
        <url-pattern>/rest/shop/removecart/item</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>UpdateCartServlet</servlet-name>
        <servlet-class>org.csu.mypetstore.web.servlets.restful.UpdateCartServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UpdateCartServlet</servlet-name>
        <url-pattern>/rest/shop/updatecart/item</url-pattern>
    </servlet-mapping>

    <!--更新购物车数量-->
    <servlet>
        <servlet-name>UpdateCartQuantitiesServlet</servlet-name>
        <servlet-class>org.csu.mypetstore.web.servlets.cart.UpdateCartQuantitiesServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UpdateCartQuantitiesServlet</servlet-name>
        <url-pattern>/shop/update/cartQuantities</url-pattern>
    </servlet-mapping>
    
    <!--登录跳转配置-->
    <servlet>
        <servlet-name>SignInFormServlet</servlet-name>
        <servlet-class>org.csu.mypetstore.web.servlets.account.SignInFormServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SignInFormServlet</servlet-name>
        <url-pattern>/page/account/signin</url-pattern>
    </servlet-mapping>
    
    <!--登录配置-->
    <servlet>
        <servlet-name>SignInServlet</servlet-name>
        <servlet-class>org.csu.mypetstore.web.servlets.account.SignInServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SignInServlet</servlet-name>
        <url-pattern>/rest/account/signin</url-pattern>
    </servlet-mapping>
    
    <!--登出账户-->
    <servlet>
        <servlet-name>SignOffServlet</servlet-name>
        <servlet-class>org.csu.mypetstore.web.servlets.account.SignOffServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SignOffServlet</servlet-name>
        <url-pattern>/account/signoff</url-pattern>
    </servlet-mapping>
    
    <!--编辑账户信息-->
    <servlet>
        <servlet-name>EditAccountServlet</servlet-name>
        <servlet-class>org.csu.mypetstore.web.servlets.account.EditAccountServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EditAccountServlet</servlet-name>
        <url-pattern>/editAccount</url-pattern>
    </servlet-mapping>

    <!--注册表单-->
    <servlet>
        <servlet-name>RegisterFormServlet</servlet-name>
        <servlet-class>org.csu.mypetstore.web.servlets.account.RegisterFormServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegisterFormServlet</servlet-name>
        <url-pattern>/page/account/register</url-pattern>
    </servlet-mapping>

    <!--注册-->
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>org.csu.mypetstore.web.servlets.account.RegisterServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/account/register</url-pattern>
    </servlet-mapping>

    <!--账号信息更改-->
    <servlet>
        <servlet-name>UpdateAccountServlet</servlet-name>
        <servlet-class>org.csu.mypetstore.web.servlets.account.UpdateAccountServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UpdateAccountServlet</servlet-name>
        <url-pattern>/rest/account/update</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>ShippingFormServlet</servlet-name>
        <servlet-class>org.csu.mypetstore.web.servlets.order.ShippingFormServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ShippingFormServlet</servlet-name>
        <url-pattern>/shippingForm</url-pattern>
    </servlet-mapping>
    
    <!--跳转到生成订单表-->
    <servlet>
        <servlet-name>NewOrderFormServlet</servlet-name>
        <servlet-class>org.csu.mypetstore.web.servlets.order.NewOrderFormServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>NewOrderFormServlet</servlet-name>
        <url-pattern>/page/shop/newOrder</url-pattern>
    </servlet-mapping>
    
    <!--跳往到确定订单-->
    <servlet>
        <servlet-name>ConfirmOrderFormServlet</servlet-name>
        <servlet-class>org.csu.mypetstore.web.servlets.order.ConfirmOrderFormServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ConfirmOrderFormServlet</servlet-name>
        <url-pattern>/page/shop/confirm/order</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ConfirmOrderServlet</servlet-name>
        <servlet-class>org.csu.mypetstore.web.servlets.restful.ConfirmOrderServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ConfirmOrderServlet</servlet-name>
        <url-pattern>/rest/shop/confirm/order</url-pattern>
    </servlet-mapping>
    
    <!--查看最终订单-->
    <servlet>
        <servlet-name>ViewOrderServlet</servlet-name>
        <servlet-class>org.csu.mypetstore.web.servlets.showinfo.ViewOrderServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ViewOrderServlet</servlet-name>
        <url-pattern>/shop/view/order</url-pattern>
    </servlet-mapping>

    <!--更改地址-->
    <servlet>
        <servlet-name>ShippingAddressServlet</servlet-name>
        <servlet-class>org.csu.mypetstore.web.servlets.order.ShippingAddressServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ShippingAddressServlet</servlet-name>
        <url-pattern>/shop/confirm/shippingAddress</url-pattern>
    </servlet-mapping>

    <!--查看订单列表-->
    <servlet>
        <servlet-name>ViewListOrderServlet</servlet-name>
        <servlet-class>org.csu.mypetstore.web.servlets.showinfo.ViewListOrderServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ViewListOrderServlet</servlet-name>
        <url-pattern>/shop/view/listorder</url-pattern>
    </servlet-mapping>
    
    <!--验证码设置-->
    <servlet>
        <servlet-name>VerificationCodeServlet</servlet-name>
        <servlet-class>org.csu.mypetstore.web.servlets.verify.VerifacationCodeServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>VerificationCodeServlet</servlet-name>
        <url-pattern>/rest/verify/get_img_code</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>EmailCodeServlet</servlet-name>
        <servlet-class>org.csu.mypetstore.web.servlets.restful.EmailCodeServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EmailCodeServlet</servlet-name>
        <url-pattern>/rest/verify/get_email_code</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>CheckExistServlet</servlet-name>
        <servlet-class>org.csu.mypetstore.web.servlets.restful.CheckExistServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CheckExistServlet</servlet-name>
        <url-pattern>/rest/account/check/exist</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>FindResultServlet</servlet-name>
        <servlet-class>org.csu.mypetstore.web.servlets.showinfo.search.FindResultServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FindResultServlet</servlet-name>
        <url-pattern>/findResultServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>UpdateCartJSServlet</servlet-name>
        <servlet-class>org.csu.mypetstore.web.servlets.cart.UpdateCartServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UpdateCartJSServlet</servlet-name>
        <url-pattern>/updateCartJSServlet</url-pattern>
    </servlet-mapping>
    
</web-app>