.floatingBox {
    border-radius:5%;
    width: fit-content;
    height: fit-content;
    position: fixed;
    background-color: #ffffff;
    border: 1px solid #ccc;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 98; /* 设置悬浮窗的层级，使之位于页面其他内容之上 */
}